{% extends "layouts/base.html.twig" %}
{% block title %} Profile {% endblock %}

{% block body %}

<div class="container reset-password-form">

<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="mb-4">Mon Profile</h1>

        <img class="mb-4 rounded" src="{{app.user.getGravatar}}" alt="">

        <p class="mt-4">{{app.user.email}}</p>
        <p class="mt-4">{{app.user.fullName}}</p>

        <a href="#">Parametre de votre compte</a> | <a href="#">Changer le mot de passe</a>
    </div>
</div>

</div>
    
{% endblock %}