
<footer class="footer">
  <div class="content-footer">
    <div class="logo-footer">
      <strong>Guide<span>.Touristique</span></strong>
    </div>

    <div class="social">
      <div class="icon">
        <i class="fab fa-facebook"></i>
      </div>
      <div class="icon">
        <i class="fab fa-twitter-square"></i>
      </div>
      <div class="icon">
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <p class="text-muted">Guide.touristique-isalo|tous les droits sont réservés | dev-web: <a href="https://dazynicolas.github.io/dazy/">Dazyexelle</a></p>
  </div>
</footer>