<nav>
	<ul>
		<li><a href="{{path('app_home')}}">Accueil</a></li>
		<li><a href="{{path('app_publications')}}">Publications</a></li>
		<li><a href="{{path('app_publication_create')}}">Créee un publication</a></li>
	</ul>
</nav>
