{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau publications' %}

{% block body %}

	<h1>Crée un publication</h1>

 {{ include('publications/_form.html.twig') }}

	<a href="{{path('app_publications')}}">Rétour vers tous les publications</a>
{% endblock %}
