{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau publications' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Crée un publication</h1>

 			{{ include('publications/_form.html.twig') }}

		</div>
	
	</div>
{% endblock %}
