{% extends 'base.html.twig' %}

{% block title 'Nouveau publications' %}

{% block body %}

	<h1>Crée un publication</h1>

	{{form_start(form)}}

	{{ form_widget(form) }}

	<input type="submit" value="Crée un publication" formnovalidate>
	{{form_end(form)}}

	<a href="{{path('app_publications')}}">Rétour vers tous les publications</a>
{% endblock %}
