{% extends 'base.html.twig' %}

{% block title 'Tous les publications'%}

{% block body %}
        <h1>{{pluralize (publications|length, 'Publication')}} </h1>
           {% for publication in publications %}
                <article>
                        <h2>
                        <a href="{{path('app_publication_show', {id: publication.id})}}">{{publication.titre}}</a>     
                        </h2>
                        <p>{{publication.description}}</p>
                </article>
           {% endfor %}
{% endblock %}
